p {
  color: red;
  font-family: fantasy;
  font-size: 20px;
  border: 1px solid black;
  padding: 15px;
  margin: 20px;
}

#splash {
  background-attachment: fixed;
  background-image: url("marc-kleen-626123-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

h1 {text-align: center;}

h1 span {border: 1px solid black;}

img {width: 200px;
transform: rotate(90deg);
padding: 10px;
border: 1px solid black;
margin: 30px;}

#red-herring {
  color: red;
}

#violet {
  color: violet;
}

.navigation {
  list-style: none;
}

.navigation-link {
  font-size: large;
}
